.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.List {
    align-items: center;
}

.item {
    border-bottom: 1px;
}

.Upload {
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
}

.collectionName {
    padding-top: 10px;
    font-weight: bold;
    font-size: large;
}

.mirrors {
    padding-top: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.articleTitle {
    font-size: calc(12px + 2vmin);
    line-height: 0.95;
}

.listImage {
    margin-bottom: 15px;
}

.logo {
    display: inline;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
